.navbar{
   background: #29487d;
}
.navbar-brand{
    color:white!important;
    font-size: 30px;
    font-weight: bolder;
}
.btn{
   background: #4267b2;
   border-color:#29487d;
   color:white!important;
}

    .ng-touched .ng-invalid
{
    border:2px solid red;
}